In [1]:
import pandas as pd

In [4]:
d= {'col1': [1,2,3,4], 'col2': [22,3,4,5], 'col3': [65,6,82,43]}
d

{'col1': [1, 2, 3, 4], 'col2': [22, 3, 4, 5], 'col3': [65, 6, 82, 43]}

In [31]:
data = pd.DataFrame(d)

In [33]:
type(data)

pandas.core.frame.DataFrame

In [34]:
data_s = data['col1']

In [35]:
data_s

0    1
1    2
2    3
3    4
Name: col1, dtype: int64

In [36]:
type(data_s)

pandas.core.series.Series

In [37]:
s = pd.Series(['Kartik','Himani','Saurabh','Kumar','Jhon@'])

In [38]:
type(s)

pandas.core.series.Series

In [40]:
data_series = pd.Series(s, name = 'ClassMets', index = range(0,4))

In [41]:
data_series

0     Kartik
1     Himani
2    Saurabh
3      Kumar
Name: ClassMets, dtype: object

In [42]:
d = pd.DataFrame(data_series)

In [43]:
d

  ClassMets
0    Kartik
1    Himani
2   Saurabh
3     Kumar

In [7]:
L = [1,2,3,4]

In [5]:
data = pd.DataFrame(d)

In [6]:
data

   col1  col2  col3
0     1    22    65
1     2     3     6
2     3     4    82
3     4     5    43

In [8]:
dir(L)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [9]:
"type" in dir(L)

False

In [10]:
data = pd.read_csv("IRIS.csv")

In [11]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [12]:
data.tail()

     sepal_length  sepal_width  petal_length  petal_width         species
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [13]:
data.shape

(150, 5)

In [14]:
data.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [15]:
data['species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [16]:
data.isna().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [18]:
data.describe

<bound method NDFrame.describe of      sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]>

In [19]:
data.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [21]:
data['sepal_length'].mean()

5.843333333333335

In [22]:
data['sepal_width'].mean()

3.0540000000000007

In [25]:
data[data['sepal_length']>5.84].shape

(70, 5)

In [27]:
[data['sepal_length']>5.84]

[0      False
 1      False
 2      False
 3      False
 4      False
        ...
 145     True
 146     True
 147     True
 148     True
 149     True
 Name: sepal_length, Length: 150, dtype: bool]